In [1]:
from tensorflow import keras

In [2]:
keras.__version__

'2.2.4-tf'

In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'id': [1,2,3], 'c1':[0,0,np.nan], 'c2': [np.nan,1,1]})
df = df[['id', 'c1', 'c2']]
df['num_nulls'] = df[['c1', 'c2']].isnull().sum(axis=1)
df.head()

   id   c1   c2  num_nulls
0   1  0.0  NaN          1
1   2  0.0  1.0          0
2   3  NaN  1.0          1